#fast-section{
    text-align: center;
    
}
span {
  color: #ff1744;
}
.cng-f-s {
  font-size: 20px;
}
.h-tag-clr1 {
    
  color:#231E23 ;
  font-size: 50px;
}
body{
    font-family: font-family: 'STIX Two Math', serif;
    margin:0px;
}
#div-sizing-1st{
    padding-top: 20px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#EF9A9A    ,#FF5252);
    color:#ffff;
    padding:10px 15px 10px 15px;
    border-radius: 20px;
    margin-top: 50px;
    display: inline-block;
}
#fast-img-mod{
    height: 500px;
    width: 500px;
    padding-top: 10px;
    
}
.half-width{
    width:50%;
    padding:2px;
}
#set-div-sidebyside{
    display: flex;
    padding: 100px;
}
#second-img-mod{
    height:80%;
    width: 260px;
    margin-left: 200px;

    
}
#about-me-part {
    display: flex;
    background-image: url(my shape and photos/Frame\ 58.jpg);
    background-size: cover;
    padding: 0px;

    margin-left: 0px;
    
    width: 100%;
}
.hafl-width-2nd {
    width: 50%;
    text-align: center;
}
#my-recipie{
    text-align:center;
    padding-top: 40px;
}
#p-center{
    padding: 0px 20% 0 20%;
    font-size: 20px;
}
.R-T-img-sizing {
    height: 80%;
    width: 100%;
    box-sizing: border-box;
    padding: 18px;
    border-radius: 31px;
}
#R-T-pic{
    display:flex;
    padding:100px 0 100px 0; 
    border-radius: 15px;
    
}
.make-three-part {
    width: 33.3%;
    max-height: 500px;
    box-shadow: 2px 4px 10px 10px #0000000f;
    margin: 0 25px 0 25px;
    border-radius: 15px;
}
.last-p-sizing{
    text-align:left;
    padding:0 20% 0 20%;
    font-size: 14px;
}
.l-t-p-d{
    border-radius: 15px;
}
#followes {
    display: flex;
    box-shadow: 2px 2px 8px #e0e0e0;
    margin: 0 20% 40px 20%;
    border-radius: 15px;
    padding: 20px 0;
}
.social-midea-info{
    width:33.3%;
    padding:20px 40px 20px 40px;
    
}
.l-align{
    text-align: left;
    padding-bottom: 0px;
}
.i-f-size{
    font-size:35px;
    padding:0;
}
#last-div {
        padding: 30px 100px;
        background-color: #03256C;
    }
.last-hp-color{
    color:#E0E0E0;
}